
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover; 
    z-index: -1; 
  }
  @media (max-width: 768px) {
    .video {
      height: 100%;
    }
  }

  @media (max-width: 576px) {
    .video {
      height: 100%;
    }
  }
